body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.star {
    position: relative;
    width: 0;
    height: 0;

    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid yellow;

    transform: rotate(35deg);
}

.star::before {
    content: "";
    position: absolute;
    top: -45px;
    left: -65px;

    width: 0;
    height: 0;

    border-bottom: 80px solid yellow;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;

    transform: rotate(-35deg);
}

.star::after {
    content: "";
    position: absolute;
    top: 3px;
    left: -105px;

    width: 0;
    height: 0;

    border-right: 100px solid transparent;
    border-bottom: 70px solid yellow;
    border-left: 100px solid transparent;

    transform: rotate(-70deg);
}
